.aplayer.aplayer-fixed {
	text-transform: uppercase;
	border-radius: 0 8px 8px 0;
	max-width: 418px;
	padding: 10px 10px 0 10px;
	left: 0;
}

.aplayer.aplayer-fixed .aplayer-list {
	border: none;
	margin-bottom: 86px;
}

.aplayer.aplayer-fixed .aplayer-body {
	background: none;
}

.aplayer.aplayer-fixed .aplayer-miniswitcher {
	opacity: .5;
	overflow: hidden;
	border-radius: 0 8px 8px 0;
}

.aplayer.aplayer-fixed:hover .aplayer-miniswitcher {
	opacity: .63;
}

.aplayer.aplayer-withlist.aplayer-fixed.aplayer-narrow,
.aplayer.aplayer-withlist.aplayer-fixed.aplayer-narrow .aplayer-body {
	left: -66px !important;
}

.aplayer.aplayer-withlist.aplayer-fixed.aplayer-narrow:hover .aplayer-body {
	left: 0 !important;
}

#landlord {
	left: 90px;
}

.aplayer {
	z-index: 10001 !important;
	background: rgba(255, 255, 255, .63);
}

.aplayer .aplayer-info {
	margin-left: 86px;
	height: 86px;
	padding-top: 20px;
}

.aplayer .aplayer-pic {
	height: 86px;
	width: 86px;
}

.aplayer .aplayer-list.aplayer-list-hide {
	margin-bottom: 76px !important;
}

.aplayer .aplayer-notice {
	display: none;
}

.aplayer.aplayer-fixed .aplayer-lrc {
	margin: auto;
	bottom: 0;
}